parameters:


application:
    errorPresenter: Error
    mapping:
        *: App\*Module\Presenters\*Presenter


session:
    autoStart: true
    expiration: 14 days


services:
    router: App\RouterFactory::createRouter
    - App\Models\UserModel(%se_api%, %redis%)
    - App\Models\AsyncJobProcessor(%redis%, %mail%)


extensions:
    neevo: Neevo\Nette\Extension
