body{padding-top: 60px;padding-bottom: 100px;font-size:16px;line-height: 1.5;}

.navbar-custom{color:#fff;background:linear-gradient(-45deg, hsl(193, 43%, 45%) 15%, hsl(232, 45%, 64%));border-bottom:1px solid rgba(255,255,255,.1);padding:5px 0}
.navbar-custom .logo{float: left;height:32px;position: relative;top:-6px;margin-right: 10px;}
.navbar-custom a.navbar-brand{font-size: 20px;color:#fff;}
.navbar-custom .navbar-nav a{color:#fff}
.navbar-custom .navbar-nav a:hover, .navbar-custom .navbar-nav a:focus{color:#fff;background:rgba(255,255,255,.1);border-radius:5px}

.jumbotron{padding-top:50px;padding-bottom:150px;margin-bottom: 0;color:#fff;text-align: center;background:linear-gradient(-45deg, hsl(193, 43%, 45%) 30%, hsl(232, 45%, 64%));}
.jumbotron h1{font-weight: 100;}
.jumbotron p{font-weight: 300;}
.jumbotron .img-replace{display: inline-block;text-indent: -999em;width: 72px;height: 72px;background:url(img/stack-overflow.png) 0 0 / 100% no-repeat;}
.jumbotron .btn-block{margin-top: 2em;}

.btn-xl{padding:10px 30px;font-size: 22px;border-radius: 7px}

.btn-custom{color:#fff;background:linear-gradient(45deg, rgba(255,255,255,.05), rgba(255,255,255,.1));border:1px solid rgba(255,255,255,.3);}
.btn-custom:hover, .btn-custom:focus{color:#fff;background:rgba(255,255,255,.3);}
/*
.btn-custom{color:#fff;background:linear-gradient(180deg, #644A8C, #4D3475);border:1px solid #4D3475;}
.btn-custom:hover, .btn-custom:focus{color:#fff;background:linear-gradient(180deg, #644A8C 60%, #4D3475);}
/**/

.gray-block{background:#f1f1f1;padding:2em 0}
.white-block{background:#fff;padding:2em 0}
.overlap{background:#fff;border-radius:5px;box-shadow:0 1px 4px rgba(0,0,0,.1);max-width:800px;margin:-125px auto 0;padding:25px;overflow: auto;}

.features{list-style: none;font-size: 22px;float: left;width: 50%;margin: 15px 0;}
.features li{margin: 2px 0;}
.features .glyphicon{margin-right: 15px;position: relative;top:3px}
.features.pos .glyphicon{color:#418FA4}
.features.neg .glyphicon{color:#e75a60}

.sec-title{text-align: center;padding: .5em 0 .5em;font-weight: 300;}

.lead .glyphicon{font-size: 1.4em;position: relative;top:-2px;vertical-align: middle;}
.glyphicon-heart{color:#e75a60}
.signup-form{margin:2em 0}


.author{margin-top: 1em;}
.author img{width: 120px;border-radius:50%;border:2px solid #bbb;float: left;}
.author h3, .author p{margin-left: 135px;}
.author h3{margin-top: 0;font-weight: 300;}
.author p{font-size: .9em;}
.author p.contact{line-height: 1.7;}
.author p.contact .fa{width:25px;font-size: 1.4em;position: relative;top:2px}
