<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Welcome to StackLetter!</title>
    <style>
    </style>
</head>
<body>
    <h1>Welcome to StackLetter!</h1>

    <p>We're glad you decided to join our {if $frequency == 'd'}daily{else}weekly{/if} newsletter.</p>

    <p style="margin-top: 30px">If you have any questions, don't hesitate to contact us by replying to this message.</p>
</body>
</html>

